
{% extends "bootstrap/base.html"%}
{%block content%}
<h1>No : of Records : {{length_env}}</h1>
<h1>Records</h1>
<table border="1">

    <tr> <th>ID</th>
        <th>SUBJECT</th>
        <th>CONTENT</th>
        <th>DEPARTTMENT</th>
    </tr>
    {% for i in range(0,length_env+1) %} 
    <tr>
        <td>{{env_id[i]}}</td>
       
        <td>{{env_subject[i]}}</td>
       
        <td>{{env_content[i]}}</td>

        <td>{{env_department[i]}}</td>
       
    </tr>

    {% endfor %}

</table>

{% endblock %}