
{% extends "bootstrap/base.html"%}
{%block content%}
<h1>No : of Records : {{length_kseb}}</h1>
<h1>Records</h1>
<table border="1">

    <tr> <th>ID</th>
        <th>SUBJECT</th>
        <th>CONTENT</th>
        <th>DEPARTTMENT</th>
        <th>STATUS</th>
        <th>USER_ID</th>
        <th></th>
        <th></th>
    </tr>
    {% for i in range(0,length_kseb) %} 
    <tr>
        <td>{{kseb_id[i]}}</td>
       
        <td>{{kseb_subject[i]}}</td>
       
        <td>{{kseb_content[i]}}</td>

        <td>{{kseb_department[i]}}</td>

        <td>{{kseb_status[i]}}</td>

        <td>{{kseb_user_id[i]}}</td>

        <td><input type="submit"value="view"></td>
       
    </tr>

    {% endfor %}

</table>

{% endblock %}