
{% extends "bootstrap/base.html"%}
{%block content%}
<h1>No : of Records : {{length_pwd}}</h1>
<h1>Records</h1>
<table border="1">

    <tr> <th>ID</th>
        <th>SUBJECT</th>
        <th>CONTENT</th>
        <th>DEPARTTMENT</th>
        <th></th>
    </tr>
    {% for i in range(0,length_pwd) %} 
    <tr>
        <td>{{pwd_id[i]}}</td>
       
        <td>{{pwd_subject[i]}}</td>
       
        <td>{{pwd_content[i]}}</td>

        <td>{{pwd_department[i]}}</td>

        <td><input type="submit"value="view"></td>
       
    </tr>

    {% endfor %}

</table>

{% endblock %}