
{% extends "bootstrap/base.html"%}
{%block content%}
<h1>No : of Records : {{length_ksrtc}}</h1>
<h1>Records</h1>
<table class="table table-dark table-striped table-hover">

    <tr> <th>ID</th>
        <th>SUBJECT</th>
        <th>CONTENT</th>
        <th>DEPARTTMENT</th>
        <th>STATUS</th>
        <th>USER_ID</th>
        <th></th>
        <th></th>
    </tr>
    {% for i in range(0,length_ksrtc) %} 
    <tr>
        <td>{{ksrtc_id[i]}}</td>
       
        <td>{{ksrtc_subject[i]}}</td>
       
        <td>{{ksrtc_content[i]}}</td>

        <td>{{ksrtc_department[i]}}</td>

        <td>{{ksrtc_status}}</td>

        <td>{{ksrtc_user_id}}</td>

        <td><input type="submit"  class="btn btn-primary" value="Accept"></td>
        <td><input type="submit"value="Reject" class="btn btn-danger"></td>
       
    </tr>

    {% endfor %}

</table>

{% endblock %}
{%block scripts%}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{%endblock%}
{%block styles%}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{%endblock%}
