{% extends "bootstrap/base.html"%}

{%block title%}
MakeComplaint-Login
{%endblock%}


{%block scripts%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{%endblock%}

{%block styles%}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{%endblock%}

{%block metas%}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{%endblock%}



{%block content%}

<div class = "container">

<div class = "jumbotron" style="height : 300px; width: 400px;margin-left: 260px;
margin-top: 100px;background-color:#555">

<form action="validate">

    <p> <input type =" text" name ="user" placeholder=" Username" style="border-radius:35px;border-color:darkorange;">
    </p>

    <p><input type="password" name ="pas" placeholder=" Password" style="border-radius:35px;border-color: darkorange;"></p>
    
    
    <button class ="btn btn-dark btlogin" type="button" style="border-radius:20px; background-color: darkorange;">Secure Login </button>
    <button class ="btn btn-dark btlogin" type="button" style="border-radius:20px; background-color: darkorange;">Register </button>

</form>

       
</div>
    
</div>


{%endblock%}
	