{% extends "bootstrap/base.html"%}
	
	{%block title%}
		MakeComplaint 
	{% endblock %}

	{%block metas%}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{%endblock%}

	{%block scripts%}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	{%endblock%}
	
{%block navbar%}

<!-- Navigation -->
<!-- Grey with black text -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
		<ul class="navbar-nav">
		  <li class="nav-item active">
			<a class="nav-link" href="#">Active</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Link</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Link</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link disabled" href="#">Disabled</a>
		  </li>
		</ul>
	  </nav>
		   

	{%endblock%}

	{% block content %}

		
		
		<div class ="row">
			<div class = "col-sm-3"> col 1</div>
			<div class="col-sm -9">
		<form action = "{{url_for('take')}}" method = "GET">
		
			<label for="first">FirstName</label>
			<p> <input type =" text" name ="first"/> </p>

			<label for = "last">LastName</label>

			<p><input type = "text" name="last"/></p>
			<label for="subject"> Subject </label>

			<p><textarea name="subject" id="" cols="50" rows="2"></textarea></p>
			<label for = " message"> Message</label>			
			<p><textarea name="message" id="" cols="50" rows="10"></textarea></p>
			

			<p> <Button type="button" class="btn btn-dark btn btn_outline-light">Submit</Button></p>
		</div>
		</div>
		</div>
		{% endblock %}

	
