{% extends "bootstrap/base.html"%}
	
	{%block title%}
		MakeComplaint 
	{% endblock %}

	{%block metas%}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{%endblock%}


	{%block styles%}

	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

	{%endblock%}

	{%block scripts%}
	
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	{%endblock%}
	

	{% block content %}
</body>

<div class ="container-fluid">
	<div class ="row">
		<div class= "col-sm-12" style="padding-left: 0;padding-right: 0;">
			<div class="navbar navbar-expand-sm bg-primary navbar-custom ">
				<ul class ="navbar-nav">
					<div class="nav-header">
							<li class="nav-item">
									<a class="nav-link aclass" href="#" style="font-weight: bold;color: rgb(255, 255, 255);font-size: 20px;">
										MakeComplaint
									</a>
							</li>						
					</div>
					<li class="nav-item">
						<a class="nav-link aclass" href="#">
							Home
						</a>
					</li>
					<li class="nav-item">
							<a class="nav-link aclass" href="{{ url_for('info') }}">
								Data know-how 
							</a>
						</li>

						<li class="nav-item">
								<a class="nav-link aclass" href="#">
									Contact
								</a>
							</li>
				</ul>
				<div style="float:right;">
					<ul class ="navbar-nav" style=" position: absolute; right: 0; top:0;">
						<li class="nav-item">
								<a class="nav-link aclass" href="http://127.0.0.1:5000/">
									LOGOUT
								</a>
							</li>
							<li class="nav-item">
								
							</li>
							
						</ul>
			</div>
			</div>
			 </div>
	</div>
</div>
		<div class ="row">
			<div class = "col-sm-3"> 
					<div class="sidebar">

							
							
							<a href="#news" class ="active aspcl" style="text-decoration: none ;">Submit Complaint </a>
							<a href="#contact">Account</a>
							<a href="#about">Demo</a>
						  </div>

			</div>
	
			<div class="col-sm-9">
			<form action="{{url_for('take')}}" method = "GET">	

			<label for="subject"> Subject </label>

			<p><textarea name="subject" id="" cols="50" rows="2"></textarea></p>

			<label for = "message"> Message</label>			
			<p><textarea name="message" id="" cols="50" rows="10"></textarea></p>			
			<p> <input type="submit" class="btn btn-dark btn btn_outline-light" value="submit"></p>
		</form>
		</div>
		</div>
		</div>
	</body>
		{% endblock %}

	
