<html>
	<body>
		<form action = "{{url_for('take')}}" method = "GET">
			<p> Enter Name : </p>
			<label for="first"><FirstName/label>
			<p> <input type =" text" name ="first"/> </p>

			<label for = "last">LastName</label>

			<p><input type = "text" name="last"/></p>
			<label for="subject"> Subject </label>

			<p><textarea name="subject" id="" cols="50" rows="2"></textarea></p>
			<label for = " message"> Message</label>
			
			<p><textarea name="message" id="" cols="50" rows="10"></textarea></p>

			<p> <input type ="submit" value="submit" /> </p>

		</form>
	</body>
</html>
