.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:rgb(25, 0, 255);
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color:rgb(25, 0, 255);
    color: white;
  }
 .aspcl a.hover{
   color:darkorange;
   background-color: rgb(25, 0, 255)
 }
  
  .sidebar a:hover:not(.active) {
    background-color: rgb(25, 0, 255);
    color:darkorange;
    text-decoration: none;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
  
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  .aclass{
    color:white;
  }
.aclass a:hover{
  color : yellow;
  text-decoration: none;

}
.aclass a:visited{
  color:yellow;
    text-decoration: none;
}
.btlogin :hover{
  opacity: 0.8;

}
.btlogin{
  background-color:rgb(25, 0, 255);
  color: white;
  
  border: none;
  cursor: pointer;
  
}
.logdiv{
  background-color:rgb(25, 0, 255);
  margin-top: 50px
}
.logbody{
  background-color: rgb(25, 0, 255);
}
.logbuttona{
  color: white;
  text-decoration: none;

}
.logbuttona:hover{
  border-color: black;
  color:black;
}
.logbuttona:visited{
  color: white;
  text-decoration: none;

}
